.appbar{
     width: 100%;
     height: 100px;
     display: flex;
     flex-direction: row;
     /* justify-content: space-around  ; */
     align-items: center;
     margin: 5px;
     border-bottom: 1px #e5e9f2 solid;
     border-color: #e5e9f2;
     margin: 0px;
     background-color: #ffffff;
     z-index: 2;
     /* position: fixed; */
     /* top:0px; */
}
.logo-wrapper{
    margin-left:5vw;
    width: 15vw;
}
.logo-wrapper img{
    height: 55px;
    width: 200px;
}
.spacer{

    width: 25vw;
}
.nav-item-wrapper{
    margin-left: 10vw;
    display: flex;
    flex-direction: row;
}
.nav-item-wrapper div{
    margin: 2vw;
}
.link{
    text-decoration:none;
}
.button-wrapper{
    margin-right: 5%;
    display: flex;
    flex-direction: row;

}
.hamburger-container{
    height: 0;
    width: 0;
    display: none;

}
@media only screen and (max-width: 940px) {
    .appbar{
        display: flex;
        flex-direction: column;
        justify-content: flex-start ;
        /* align-items: center; */
        height: 80px;
        /* padding: 16px; */
      
   }
   .logo-wrapper{
    margin: 20px 0px ;
    width: 225px;
    height: 80px;
}
.logo-wrapper img{
    height: 55px;
    width: 200px;
}
.spacer{
    height: 0px;
    width: 0px;
}
.nav-item-wrapper{
    height: 0;
    width: 0;
    display: none;
}
.button-wrapper{
    height: 0;
    width: 0;
    display: none;

}
.hamburger-container{
    position: absolute;
    top: 20px;
    left: 5vw;
   display: flex;
   flex-direction: row;
}
.hamburger-icon{
    justify-content: flex-start;
    height: 60px;
    width: 60px;
}

}