.home-container{
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Inter;
}
.introWrapper{
  width: 90%;
  margin: 50px 5%;
  font-size: 72px;
  font-weight: 700;
  line-height: 94px;
}

.image-wrapper {
  margin: 50px 5px 0px 5px;
}
.image-wrapper img {
  width: 600px;
  height: 390px;
}
.blue-experience {
  height:auto;
  padding: 50px 0px;
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.exp-header{
  width: 85%;  
  font-size: 40px;
  line-height: 50px;
  padding: 0px 40px;
  font-weight: 800;
}
.exp-body{
  width: 85%;
  padding: 0px 40px ;
  margin-top: 10px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}
.tearsheet-intro-wrapper {
  height:auto;
  position: relative;
  display: flex;
  flex-direction: column;
  padding:94px 0px 0px 0px;
}
.stock-intro {
  display: flex;
  flex-direction: row;
  width:90%;
  margin: 0px 5%;
  padding-bottom: 250px;
}
.stock-intro div {
  width: 50%;
  padding: 0px 10px;
  text-align: left;
}
.intro1{
  font-size: 40px;  
  line-height: 54px; 
  font-weight: 800;
}
.intro2{
  font-size:16px;
  line-height: 26px;  
}

.mackbook-image-wrapper {
  margin-top: -150px;  
  position: relative;
  
}
.mackbook-image-wrapper img{
  height: 460px;
  width: 770px;
  
}
.grey-div {
  margin-top: -300px;  
  height: 400px;
  background-color: var(--background-grey);
}

@media only screen and (max-width: 800px) {
 
  .introWrapper{
    font-size: 36px;
    line-height: 46px;
    margin: 30px 5%;
    text-align: center;
  }
  
  .image-wrapper {
    margin: 40px 5px 0px 5px;
  }
  .image-wrapper img {
    height: 290px;
    width: 480px;
  }

  .tearsheet-intro-wrapper {
    padding:50px 0px 0px 0px;
  }
  .stock-intro{
    padding-bottom: 170px;
  }
  .stock-intro div {
    width: 50%;
    padding: 0px 10px;
    text-align: left;
  }
  .intro1{
    font-size: 40px;  
    line-height: 54px; 
    font-weight: 800;
  }
  .intro2{
    font-size:16px;
    line-height: 26px;  
  }
   
  .mackbook-image-wrapper {
    padding: auto;
    margin-top: -15vh;  
    position: relative; 
  }
  .mackbook-image-wrapper img{
    height: 290px;
    width: 480px;
    
  }
  .grey-div {
    margin-top: -200px;  
    height: 250px;
    background-color: var(--background-grey);
  }

  
}
@media only screen and (max-width: 550px) {
  .image-wrapper {
    margin: 40px 5px 0px 5px;
  }
  .image-wrapper img {
    height: 180px;
    width: 300px;
  } 
  
  .tearsheet-intro-wrapper {
    padding:50px 0px 0px 0px;
  }
  .stock-intro {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width:90%;
    margin: 0px 5%;
    padding-bottom: 220px;
  }
  .stock-intro div {
    width: 100%;
    padding: 0px 10px;
    text-align: left;
  }
  .intro2{
    margin-top: 20px;
    font-size:16px;
    line-height: 26px;  
  }
  .mackbook-image-wrapper {
    padding: auto;
    margin-top: -180px;  
    position: relative; 
  }
  .mackbook-image-wrapper img{
    height: 210px;
    width: 360px;
    
  }
  .grey-div {
    margin-top: -150px;  
    height: 180px;
    background-color: var(--background-grey);
  } 
}