.pricing-container{
    font-family: Inter;
    position: relative;
    height: auto;
    margin: 0px 5% 0px 5%;
    padding: 50px 0px 50px 0px;
    display: flex;
    flex-direction: column;
}
.subscription-plan{
    padding: 0px 0px 50px 5%;
    width: 100%;
    text-align: left;
    font-size: 40px;
    font-weight: 800;
}
.plans-container{
    display: flex;
    flex-direction: row;
    margin: 0px 5%;
    height: auto;
}
.plan-wrapper{
    height: auto;
    width: 50%;
}
.colored {
    border-radius: 10px 0px 0px 10px;
    background-color: var(--baby-pink);    
}
.colorless {
    border-radius:  0px 10px 10px 0px;
    background-color: var(--nearly-white);    
}
.thulo-words{
    margin: 40px 5%;
    font-size: 36px;
    font-weight: 800;
}
.paragraph{
    margin: 30px 5%;
    font-size: 24px;
    font-weight: 500;
}
.spacer{
    height: 5vh;
}

@media only screen and (max-width: 800px) {
    .pricing-container{
        padding: 50px 0px 50px 0px;
    }
    .subscription-plan{
        padding: 0px 0px 40px 0px;
        text-align: center;
    }
    .plans-container{
        margin : 10px ;
        flex-direction: column;
    }
    .plan-wrapper{
        width: 80%;
    }
    .colored {
        border-radius: 10px 10px 0px  0px ;
        margin: 0px 10% 0px 10%;  
    }
    .colorless {
        border-radius: 0px  0px 10px 10px ;

        margin: 0px 10% 0px 10% ;  
    }
    .thulo-words{
        font-size: 36px;
    }
    .paragraph{
        font-size: 24px;
    }
}
@media only screen and (max-width: 500px) {
    .pricing-container{
        padding: 30px 0px 30px 0px;
    }
    .subscription-plan{
        padding: 0px 0px 20px 0px;
        text-align: center;
    }
    .thulo-words{
        margin: 20px 5%;
        font-size: 30px;
        line-height: 40px;
        font-weight: 800;
    }
    .paragraph{
        margin: 15px 5%;
        font-size: 20px;
        line-height: 30px;
        font-weight: 500;
    }

}