.list-container{
    margin: 0px 5% 16px 5% ;
    padding: 20px 42px;
    background-color: var(--background-lightgrey);
    border-radius: 10px;
    height: auto;

}  
.question-header{
    font-size: 20px;
    line-height: 26px;
    text-align: left;
    font-weight: 500;
    margin: 5px auto;
    padding: 10px auto 15px auto;
}
.question-spacer{
    height: 1px;   
    margin: 10px 5px 0px 0px;
    background-color: var( --border-color-grey);
}
.question-body{
    color: var(--light-font);
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    font-weight: 400;
    margin: 5px auto;
    padding: 10px;
}